aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
babel
backports.zoneinfo
certifi
charset-normalizer
contourpy
cycler
dateparser
fonttools
frozenlist
idna
importlib-resources
kiwisolver
matplotlib
matplotlip
multidict
numpy
packaging
pillow
propcache
psutil
pycryptodome
pyparsing
python-binance
python-dateutil
pytz
regex
requests
six
tkcalendar
typing-extensions
tzlocal
urllib3
websockets
webview
yarl
zipp
